/*
font-family: 'Open Sans', sans-serif;
font-family: 'Scope One', serif;
*/

/* 
body {
	background-image: url("../images/about.gif") ;
	margin: 0 ;
	}

article {
	width: 960px ;
	margin: 100px auto auto auto;
	background-color: rgba(255,255,255,0.75) ;
	}

h1 {
	padding: 40px 20px 0px 40px ;
	font-family: 'Scope One', serif;
	font-size: 50px ;
	letter-spacing: 0.1em ;
	}

p {
	width: 480px ;
	padding: 0px 10px 10px 40px ;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em ;
	}

#last {
	padding-bottom: 90px ;
	}

img {
	margin: 40px 40px 10px 10px ;
	position: relative ;
	float: right ;
	padding: 10px ;
	}

*/