body {
	color: black;
	background-color: #FFFEBA;
	}

p {
	border-style: dashed;
	border-width: 1px;
	border-color: lightgray;
	background-color: white;
	padding: 20px;
	margin-top: 25px;
	width: auto;
	}

h1 {
	color: black;
	font-family: 'Nixie One', cursive;
	letter-spacing: 0.18em;
	margin-bottom: 40px;
	}


/* Buttons */
a.button:link {
	font-family: 'Open Sans', Calirbi, sans-serif;
	font-size: 13px;
	color: #264C9C;
	border: 1px solid #264C9C;
	background-color: #B5C8F0;
	padding: 10px;
	position: relative;
	bottom: 19px;
	border-radius: 10px;
	text-decoration: none;
	white-space: nowrap;
	box-shadow: 5px 10px 5px #DFDFDF;
	}

a.button:active {
	color: #264C9C;
	}

a.button:visited {
	color: #E92A25;
	border: 1 px solid #E92A25;
	background-color: #FFBCBA;
	}

a.button:hover {
	color: #264C9C;
	border: 1px solid #264C9C;
	background-color: #C9DAF3;
	}


/* Inline links */
a.inline:link {
	color: #456BBE;
	text-decoration: none;	
	}

a.inline:active {
	color: #456BBE;
	}

a.inline:visited {
	color: #FF928F;
	}

a.inline:hover {
	color: #B5C8F0;
	text-decoration: none;	
	}
