		body {
			color: #0E0E0E;;
			font-family: Arial;
			background-color: #FEFFFF; }
	
		h1 {
			background-color: #98DAFC;
			padding: 20px;}

		h2, h3 {
			padding-left: 10px;}	

		p {
			padding-left: 20px;
			padding-right: 20px;}