/* Pallete

	#CCEBD6 -- pale green
	#8FD5A6 -- forest green
	#0D1410 -- very, very dark green

	#FFF2FC -- very pale pink
	#FFD1F4 -- middle weight pink
	#E49AB0 -- darker pink
	#FF6978 -- red-pink

*/


/* Fonts
	font-family: 'Cutive Mono', monospace;
	font-family: 'Open Sans', sans-serif;
 */


/*Layout*/

body {
	background-image: url("../../images/about.jpg") ;
	font-family: 'Open Sans', sans-serif;
	width: 960px ;
	margin: 0 auto ;
	}

header {
	font-family: 'Cutive Mono', 'Courier New', Courier, monospace ;
	color: white ;
	font-size: 18px ;
	background-color: #0D1410;
	padding: 5px 5px 5px 20px ;
	margin-top: 15px ;
	margin-bottom: 15px;
	border-radius: 15px ;
	}

article {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px ;
	background-color: white ;
	width: 565px ;
	padding: 10px;
	float: left ;
	margin-left: 15px ;
	margin-right: 15px ;
	height: 750px ;
	line-height: 1.5em ;
	}

nav {
	background-color: white ;
	padding: 10px ;
	width: 300px ;
	float: left ;
	height: auto ;
	}

aside {
	background-color: white ;
	padding: 10px ;
	width: 300px ;
	float: left ;
	height: auto ;
	margin-top: 15px ;
	}

footer {
	color: white;
	background-color: #0D1410 ;
	font-size: 10px ;
	padding: 10px ;
	margin-top: 15px ;
	margin-bottom: 5px ;
	text-align: center ;
	float: left;
	height: 10px ;
	width: 930px;
	border-radius: 5px ;
	}


/*Links*/

ul.menu {
	list-style-type: none ;
	margin: 0 ;
	padding: 0 ;
	width: 300px ;
	background-color: #FFF2FC ;
	}


li.menu {
	display: block ;
	text-decoration: none ;
	}

a.menu {
	display: block ;
	color: #FF6978 ;
	padding: 8px 16px ;
	text-decoration: none ;
	}


a.inline {
	text-decoration: none ;
	color: #FF6978 ;
	}

a.inline:visited {
	text-decoration: none ;
	color: #E49AB0
	}

a:hover {
	opacity: 0.5 ;
	}

.active {
	background-color: #FF6978 ;
	color: white ;
	display: block ;
	padding: 8px 16px ;
	text-decoration: none ;
	}
